.hotelcard {
  max-height: 430px;
  overflow-y: scroll;

  .hotelInfo {
    height: 67px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(129, 129, 129, 0.5);
    background-color: #fcfcfd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2px 20px 2px ;
    li {
      list-style: none;
      &.name {
        width: 30%;
      }
      &.address {
        width: 30%;
      }
      &.score {
        width: 20%;
      }
      &.visite {
        width: 18%;
      }
    }
    &-edit {
      right: 50px;
      position: absolute;
      color: #fff;
      padding: 2px 15px;
      &_btn{
          border: none;
          border-radius: 5px;
          margin-left: 10px;
      }
      .edit{
          background-color:#709ea5;
          .icon-pen{
            width: 17px;
            height: auto;
            padding: 3px 0;

          }
      }
      .delete{
          background-color: #c14141;
          .icon-trash{
            padding: 2px 0;
          }
      }
    }
  }
  
}

