.header {
  padding: 10px;
  font-family: Montserrat;
  background-color: #ffffff;

  &-container {
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 4rem);
    margin: 0 auto;
    align-items: center;
  }

  &-icon {
    &-mainLogo {
      width: 250px;
      height: 21px;
    }
  }

  &-link {
    color: black;
    font-size: 16px;
    margin: 30px;
  }

  &-is-active {
    color: $darkblue;
  }

  &-profilPicture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #d8d8d8;
  }

  &-profilContainer {
    display: flex;
    align-items: center;
  }

  &-profilInfo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 12px;
  }

  &-userName {
    font-weight: 500;
  }

  &-userRoles {
    font-weight: 300;
  }
}
