@import "../common/colors.scss";
@import "../common/mixins.scss";

.planningContainer {
  background-color: $purple-light;
  display: flex;
  .title {
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  .leftSide {
    padding: 20px;
    min-width: 340px;
    display: grid;
    background-color: white;
    // margin-right: auto;
    overflow: scroll;
    height: calc(100vh - 60px);
    .ant-collapse-item {
      border: none;
      color: black;
      font-weight: bold;
      font-size: 21px;
      .ant-collapse-header {
        max-width: 320px;
        padding: 12px 0;
      }
    }
    .calendar {
      background-color: white;
      width: 280px;
      .ant-fullcalendar-selected-day .ant-fullcalendar-value {
        background-color: $darkblue;
        color: white;
      }
    }
    .container {
      background-color: #ffffff;
      padding: 10px 5px;
      .ant-collapse-borderless {
        background: #ffffff;
      }
      .ant-collapse-header {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
      }
      .visitorName {
        margin-top: 10px;
        font-size: 16px;
      }
      .ant-radio-group {
        width: 100%;
      }
      .ant-card {
        cursor: pointer;
      }
      .radio-container {
        margin-bottom: 15px;
        label {
          font-size: 16px;
        }
        .radio-content {
          padding: 5px;
          margin-left: 10px;
          width: 100%;
          font-family: Montserrat;
          font-weight: normal;
          font-size: 14px;
          color: #000000;
          &:hover {
            color: $light-grey;
          }
          .identity {
            position: relative;
            .anticon-close {
              position: absolute;
              right: 0;
            }
          }
          i {
            float: right;
            padding: 2px;
            &:hover{
              color: red;
            }
          }
        }
      }
      .urgency {
        .card {
          .ant-card {
            @include card;
            background-color: $purple-red;
            .ant-card-body {
              padding: 10px;
              margin: auto;
            }
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .replace {
        .card {
          .ant-card {
            @include card;
            width: 90%;
            // background-color: $green-pastel;
            background: #4390CC;
            .ant-card-body {
              padding: 10px;
              margin: auto;
            }
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .suggest {
        .card {
          .ant-card {
            @include card;
            width: 90%;
            background-color: #F5D547;
            .ant-card-body {
              padding: 10px;
              margin: auto;
            }
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
  .pages-button {
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    width: 70%;
    margin: 0 auto;

    .ant-tabs-ink-bar {
      background-color: transparent;
    }
    .ant-tabs-bar {
      border: none;
    }
    .ant-tabs-tab {
      background-color: #fcfcfd;
      border-radius: 12px;
      min-width: 120px;
      text-align: center;
      margin: 20px 15px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      color: #787878;
      &:hover {
        color: white;
        background-color: #2070af;
        cursor: pointer;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        /* ...and now for the proper property */
        transition:.5s;
      }
    }
    .ant-tabs-tab-active {
      color: white;
      background-color: #2070af;
      cursor: pointer;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      /* ...and now for the proper property */
      transition:.5s;
    }
  }
}
