$white: #ffffff;
$black: #000000;
$green: #00E079;;
$green-pastel: #5ABCB9;
$darkblue: #2070af;
$purple-light: #f1f2fa;
$purple-dark: #6c67d3;
$cyan: #59b4e0;
$purple-red: #E05263;
$light-grey: #787878
