.hotelsContainer {
  ul {
    display: flex;
    justify-content: center;
    li {
      width: 120px;
      height: 58px;
      border-radius: 12px;
      box-shadow: inset 0 1px 3px 0 rgba(196, 196, 196, 0.5);
      background-color: #fcfcfd;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 15px;
    }
  }
}
