.hotelsPage {
  background-color: #f1f2fa;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 30px;
  justify-content: center;

  .filter {
    display: flex;
    justify-content: center;
    margin: 0;
    li {
      width: 120px;
      height: 58px;
      border-radius: 12px;
      background-color: #fcfcfd;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 15px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      color: #787878;

      &.active,
      &:hover {
        background-color: #2070af;
        cursor: pointer;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        /* ...and now for the proper property */
        transition: 0.5s;
      }
    }
  }

  .hotelsSearch{
    border: none;
    border-bottom: 1px solid gray;
    background-color: #fcfcfd;
    margin-left: 50px;
    outline: none;
  }

  .hotelsHeader{
    display: flex;
  }

  .hotelsContainer {
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 180px);
    border-radius: 35px;
    background-color: #fcfcfd;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;

    h3 {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      margin-bottom: 0;
    }

    .addNewHotel {
      width: 80px;
      height: 30px;
      border-radius: 12px;
      background-color: #2070af;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      color: #ffffff;
      position: absolute;
      top: 25px;
      right: 40px;
      cursor: pointer;
      border: none;
    }

    .headerList {
      margin-top: 40px;
      ul {
        display: flex;
        justify-content: flex-start;
        padding: 0 0 0 20px;

        li {
          font-family: Montserrat;
          font-size: 14px;
          font-weight: bold;
          color: #000000;
          list-style: none;
          &.name {
            width: 30%;
          }
          &.address {
            width: 30%;
          }
          &.score {
            width: 15%;
          }
          &.visite {
            width: 18%;

          }
        }
      }
    }
  }
}
